# Gemini API Keys (Next.js Client-Side)
NEXT_PUBLIC_GEMINI_API_KEY=
NEXT_PUBLIC_GEMINI_API_KEY_1=
NEXT_PUBLIC_GEMINI_API_KEY_2=
NEXT_PUBLIC_GEMINI_API_KEY_3=
NEXT_PUBLIC_GEMINI_API_KEY_4=
NEXT_PUBLIC_GEMINI_API_KEY_5=
NEXT_PUBLIC_GEMINI_API_KEY_6=
